.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.filters {
  right: 0;
  margin-left: 1rem;
  float: right;
  background-color: #fff;
  padding: 2rem 10px;
  border-radius: 10px;

  .order-by-selector {
    margin-top: 2rem;
  }
}
