.search {
  max-width: 730px;
  padding: 13px 21px;
  background-color: white;
  border-radius: 1rem;
  margin: 1.5rem auto;

  display: flex;

  input {
    font-size: 1.1rem;
    width: 100%;
  }

  .close {
    &:hover {
      cursor: pointer;
    }
  }
}
