.search {
  display: flex;
  margin: 1.5rem auto;
  border-radius: 1rem;
  padding: 13px 21px;
  max-width: 730px;
  background-color: white;

  input {
    width: 100%;
    font-size: 1.1rem;
  }

  .close {
    &:hover {
      cursor: pointer;
    }
  }
}
